
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

@mixin image($bg-img){
    background-image: url($bg-img);
    background-size: cover;
    background-position: center;
}

main{
    height: 100%;
    width: 100%;
    display: flex;

    section{
        height: 100%;
        flex-grow: 1;
        transition: all 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        // border: 1px solid black;
    }

    section:hover{
        flex-grow: 2;
        transform: scale(0.6);
        border-radius: 50px;
        border: none;

    }
    section:nth-child(1){
        @include image('https://i.pinimg.com/1200x/d7/86/73/d78673f82867c87b9ab2bf7515455ef7.jpg')
    }
    section:nth-child(2){
        @include image('https://i.pinimg.com/736x/82/6e/d6/826ed6bb894469f8f487166595cb0997.jpg')
    }
    section:nth-child(3){
        @include image('https://i.pinimg.com/736x/4c/38/71/4c38712bf6e2d6c5669ba1defa9742b4.jpg')
    }
    section:nth-child(4){
        @include image('https://i.pinimg.com/1200x/b6/84/19/b684197e735264e9bc219bbea63c1b43.jpg')
    }
    section:nth-child(5){
        @include image('https://i.pinimg.com/736x/b7/2c/4e/b72c4e0f84ce192bb4c72c8644adf31b.jpg')
    }

}