@font-face {
    font-family: Satoshi;
    src: url(/assets/Satoshi-Light.woff);
}

@font-face {
    font-family: Chillax;
    src: url(/assets/Chillax-Regular.woff);
}

@font-face {
    font-family: Hell;
    src: url(/assets/HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2);
}
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: hell;
}
 
html,body{
   height: 100%;
   width:100%;
}

@mixin flex-col{
    display: flex;
    flex-direction: column;
}

main{
    width:100%;
    @include flex-col();
    background-color: #121212;
    
    section{
        width: 100%;
        @include flex-col();
        padding: 0.8rem;
        gap:1rem;

        .top{
            width:100%;

            img{
                width: 100%;
                border-radius: 0.5rem;
            }
        }

        .bottom{
            width:100%;
            @include flex-col();
            padding:1.75rem;
            gap:3.5rem;
            border-radius: 0.8rem;
            background-color: #1E1E1E;
            
            color:white;

            .studio{
                padding-top: 1rem;
            }
            .text{
                @include flex-col();
                gap:1rem;
            
            h1{
                font-family: Chillax;   
                text-transform: uppercase;
                font-weight: 100;
            }

            p{
                font-family: Satoshi;
                line-height: 1.8rem;
                opacity: 0.5;
                font-size: 1.25rem;
            }

            button{
                width: fit-content;
                border: none;
                outline: none;
                background-color: transparent;
                color:white;
                opacity: 0.85;
                font-family: system-ui;
            }
        }

        }
        
    }
}

@media(min-width:600px){
    main{
        section{
            flex-direction: row;
        }
    }
}