* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Helvetica;
}
 
html,body{
   height: 100%;
   width:100%;
}

main{
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: black;

}

.piano{
  display: flex;
  height: 100%;
  width:100%;
}

.keys{
  margin-top: 100px;
  height: 280px;
  width: 50px;
  border:2px solid black;
  background-color: aliceblue;
}

.keys:hover{
  cursor: pointer;
  background-color: rgba(232, 236, 239, 0.859);
}

h1{
  display: inline-block;
  font-weight: 300;
  font-size: 50px;
  margin-top:150px;
  margin-left:500px;

}

@media (max-width:600px){
  h1{
    font-size: 50px;
    text-align: center;
    margin-left: 100px;
    margin-top:150px;
    /* margin-bottom: 10px; */
  }
  .piano{
    margin-top: 150px;
  }
  .keys{
    height: 475px;
  }
}

@media (min-width:600px) and (max-width:900px){
  
  h1{
    font-size: 50px;
    text-align: center;
    margin-left: 320px;
    margin-top:150px;
    /* margin-bottom: 10px; */
  }
  .piano{
    margin-top: 150px;
  }
  .keys{
    height: 475px;
  }
}