
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
 
html,body{
   height: 100%;
   width:100%;
}

main{
    display: flex;
    flex-direction: column;
    gap:2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:#383838;
}

#card{
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding: 1rem 2rem;
    width:35%;
    height:40%;
    background-color: aliceblue;
    border-radius: 10px;
}

span{
    color: blue;
}

h2{
    text-align: center;
}
#outer{
    width:100%;
    height:10%;
    border-radius: 10px;
    background-color: gray;
}

#inner{
    height: 100%;
    width:0%;
    border-radius: 10px;
    background-color: green;
}

.dwnld-panel{
    display: flex;
    justify-content: space-between;
}

button{
    padding: .7rem 1rem;
    background-color:green;
    border-radius: 5px;
    cursor: pointer;
    color:white;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

button:hover{
    background-color: rgb(1, 100, 1);
}

@media (max-width:600px){
    #card{
        width:60%;
    }
    .dwnld-panel{
        display: flex;
        flex-direction: column;
        gap:1rem;
    }
    .dwnld-panel h1{
        text-align: center;
    }
}