* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Helvetica;
}
 
html,body{
   height: 100%;
   width:100%;
}

body{
  background-color: black;
}

main{
  height: 100%;
  width: 100%;
  padding: 20px;
  /* background: linear-gradient(to right bottom,rgb(27, 27, 27),rgb(30, 29, 29),black); */
}

section{
  height: 100%;
  width: 300px;
  background-color: black;
  margin: auto;
}

.all-reels{ 
  height: 100%;
  width: 100%;
  /* overflow: auto; */
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.all-reels ::-webkit-scrollbar{
  display: none;
}

.reel{
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.reel video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bottom{
  padding: 30px 20px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.02));
  position: absolute;
  bottom: 0;
}

.bottom .user{
  display: flex;
  align-items: center;
  gap:10px;
  margin-bottom: 25px;
}

.bottom .user h4{
  font-size: 15px;
  font-weight: 500;
}

.bottom .user button{
  border:1px solid white;
  background-color: transparent;
  padding: 2px 4px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 2px;
  color: rgba(237, 234, 234, 0.982);
}


.bottom .user img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.bottom{
  display: flex;
  flex-direction: column;
  color:white;
}

.bottom>h3{
  font-weight: 500;
  font-size: 20px;
}

.right{
  cursor: pointer;
  align-items: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap:10px;
  color:white;
  width:40px;
  position: absolute;
  right:0;
  bottom: 12%;
  /* transform: translateX(100%); */
}

.right i{
  font-size: 20px;
}

.right>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) and (max-width:900px){
  section{
    height: 70%;
    width: 430px;
  }

  .bottom{
    padding: 50px 40px;
  }

  .bottom>h3{
    font-weight: 500;
    font-size: 40px;
}
  .bottom .user img{
  height: 50px;
  width: 50px;
}
  .bottom .user h4{
  font-size: 23px;
  font-weight: 500;
}
  .bottom .user button{
  padding: 2px 4px;
  font-size: 23px;
}
  .right i{
  font-size: 40px;
  font-weight: 200;
}
  .reel{
  margin-bottom: 70px;
}

  .right{
    gap:20px;
    right:3%;
  }
  .right h6{
    font-size: 20px;
  }

}