* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Helvetica;
}
 
html,body{
   height: 100%;
   width:100%;
}

main{
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: black;

}

.piano{
  display: flex;
  height: 100%;
  width:100%;
}

.keys{
  margin-top: 240px;
  height: 280px;
  width: 50px;
  border:2px solid black;
  background-color: aliceblue;
}

.keys:hover{
  cursor: pointer;
}

h1{
  font-weight: 300;
  font-size: 50px;
  margin-top:500px;
  margin-left:500px;
  /* padding:20px 20px; */
  display: inline;
  /* border: 2px solid red; */
}