 *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        html,body{
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
        main{
            display: flex;
            flex-direction: column;
            gap:2rem;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            background-color: rgba(12, 12, 12, 0.819);
        }
        button{
            /* display: none; */
            text-transform: uppercase;
            padding: 15px 20px;
            color:white;
            cursor: pointer;
            border: none;
            outline: none;
            background-color: rgb(255, 0, 0);
            border-radius: .5rem;
        }
        button:hover{
            background-color: rgb(207, 19, 19);
        }

@media (max-width:600px){
    h1{
        text-align: center;
        font-size: 1.5rem;
    }
    h4{
        text-align: center;
        font-size: 1rem;
    }
}